<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">医师管理</h3><!-- 表格上边区域 -->
				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="医师姓名">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <a class="fa fa-search">搜索医师</a>
							</button>
							<button type="button" class="btn btn-default btn-add">添加医师</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 表格主体区域 -->
			<div class="box-body table-responsive no-padding">
				<form>
				  <table class="table table-hover">
					<thead>
						<tr>
						    <th>序号</th>
							<th>医师姓名</th>
							<th>性别</th>
							<th>年龄</th>
							<th>学历</th>
							<th>工龄</th>
							<th>收费标准</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					</tbody>
				  </table>
				</form>
			</div>
			<!-- /.box-body -->
			<div id="pageId" class="box-footer clearfix">
            </div>
		</div>
		<!-- /.box -->
	</div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="dist/js/adminlte.js"></script>
<script type="text/javascript">
   $(function(){   
	 
	  $("#pageId").load("doPageUI",function(){
		  doGetObjects();//显示分页信息
	  });
	  $(".input-group-btn")//注册点击事件
	  .on("click",".btn-search",doQueryObjects)
	  .on("click",".btn-add",doLoadEditUI)
	  $("#tbodyId")
	  .on("click",".btn-delete",doDeleteObject)
	  .on("click",".btn-update",doLoadEditUI) 
   });
   function doLoadEditUI(){//添加/修改功能跳转
	   var title;
	   if($(this).hasClass('btn-add')){
		   title="添加医师信息";
		   doLoadPageUI(title);
	   }else{
		   title="修改医师信息"
		   var id=$(this).parents("tr").data("id");//获取当前行的id
		   var params={"id":id};
		   var url="doctor/doFindObjectById";//首先根据id查询，初始化医师信息
		   $.getJSON(url,params,function(result){
			   if(result.state==1){
					result.data.id=id;//在结果中动态追加id
				  $("#mainContentId").data("data",result.data);
				  doLoadPageUI(title);
			   }else{
				  alert(result.message); 
			   }
		   });
	   }
   }
   function doLoadPageUI(title){//跳转至添加/修改页面
	   var url="doctorEdit";
	   $("#mainContentId")
	   .load(url,function(){
		   $(".box-title").html(title);
	   });
   }
   function doDeleteObject(){//删除操作
	   var id=$(this).parents("tr").data("id");//获取当前行的id
	   var params={"id":id};
	   var url="doctor/doDeleteObject"//执行删除操作
	   $.post(url,params,function(result){
		   if(result.state==1){
			   alert(result.message);
			   doGetObjects();
		   }else{
			   alert(result.message);
		   }
	   });
   }
   function doQueryObjects(){
	   $("#pageId").data("pageCurrent",1);
	   doGetObjects();
   }
   function doGetObjects(){//显示分页信息
	   //初始化分页信息
	   
	   var pageCurrent=$("#pageId").data("pageCurrent");//获取在Page.html中绑定的当前页码值
	   if(!pageCurrent)pageCurrent=1;//假如没有值,设置初始值为1
	   var params={"pageCurrent":pageCurrent};
	   var name=$("#searchNameId").val();//获取查询时用户输入的名字
	   if(name)params.name=name;
	   var url="doctor/doFindPageObjects";//获取分页信息
	   $.getJSON(url,params,function(result){
		   doHandleResponseResult(result);
	   });
   }
   function doHandleResponseResult(result){
	   if(result.state==1){
		  doSetTableBodyRows(result.data.records);
		  doSetPagination(result.data);//呈现分页
	   }else{
		   alert(result.message);
		  doSetTableBodyErrors(result.message);
	   }
   }
   function doSetTableBodyErrors(message){
	   //获取body对象并清空
	   var tBody=$("#tbodyId");
	   tBody.empty();
	   //创建tr对象
	   var tr=$("<tr></tr>");
	   //创建td对象
	   var len=$("table th").length;
	   var td=$("<td></td>");
	   td.prop("colspan",len);
	   td.append(message);
	   tr.append(td);
	   //将tr追加到tbody
	   tBody.append(tr);
	   
	   
	   //姜：业务查询失败报错时：初始化分页信息
	   //初始化总记录数
	   $(".rowCount").html("总记录数(0)");
	   //初始化总页数
	   $(".pageCount").html("总页数(0)");
	   //初始化当前页码值
	   $(".pageCurrent").html("当前页(1)");
   }
   function doSetTableBodyRows(records){//显示表格内容
	  //获取tbody对象,并清空
	   var tBody=$("#tbodyId");
	   tBody.empty();
	   //2.迭代数据,并追加到tBody
	   for(var i in records){
		  //2.1构建tr对象
		  var tr=$("<tr></tr>");
		  tr.data("id",records[i].id);
		  //2.2构建tds对象
		  var tds=doCreateTds(records[i],i);
		  //2.3将tds对象追加到tr中
		  tr.append(tds);
		  //2.4将tr追加到tbody中
		  tBody.append(tr);
	   }
   }
   function doCreateTds(row,i){//循环输出表格内容
	   var tds=
       "<td>"+(parseInt(i)+1)+"</td>"+ 
	   "<td>"+row.name+"</td>"+
       "<td>"+row.gender+"</td>"+
       "<td>"+row.age+"</td>"+
       "<td>"+row.education+"</td>"+
       "<td>"+row.workTime+"</td>"+
       "<td>"+row.charge+"</td>"+
       "<td><a class='btn-delete'>删除</a>"+
       "&nbsp;   <a class='btn-update'>修改</a></td>";
       return tds;
   }
</script>
