<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
    <link rel="stylesheet  prefetch" href="sao/css/style1.css">		
  <link rel="stylesheet" href="sao/css/style2.css" media="screen" type="text/css" />				
  
</head>

<body>
<div style="text-align:center;clear:both"></div>
	<div id="contentContainer" class="trans3d"> 
	<section id="carouselContainer" class="trans3d">
		<figure id="item1" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌1.jpg"/></a></div></figure><figure id="item3" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌2.jpg"/></a></div></figure><figure id="item4" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌3.jpg"/></a></div></figure><figure id="item5" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌4.jpg"/></a></div></figure><figure id="item6" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌5.jpg"/></a></div></figure><figure id="item7" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌6.jpg"/></a></div></figure><figure id="item8" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌7.jpg"/></a></div></figure><figure id="item9" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌8.jpg"/></a></div></figure><figure id="item10" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌9.jpg"/></a></div></figure><figure id="item11" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌10.jpg"/></a></div></figure><figure id="item12" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌11.jpg"/></a></div></figure><figure id="item13" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌12.jpg"/></a></div></figure><figure id="item14" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌13.jpg"/></a></div></figure><figure id="item15" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌14.jpg"/></a></div></figure><figure id="item16" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌15.jpg"/></a></div></figure><figure id="item17" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌16.jpg"/></a></div></figure><figure id="item18" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌17.jpg"/></a></div></figure><figure id="item19" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌18.jpg"/></a></div></figure><figure id="item20" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌19.jpg"/></a></div></figure><figure id="item21" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌20.jpg"/></a></div></figure><figure id="item22" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌21.jpg"/></a></div></figure><figure id="item23" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌22.jpg"/></a></div></figure><figure id="item24" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌23.jpg"/></a></div></figure><figure id="item25" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌24.jpg"/></a></div></figure><figure id="item26" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌25.jpg"/></a></div></figure><figure id="item27" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌26.jpg"/></a></div></figure><figure id="item28" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌27.jpg"/></a></div></figure><figure id="item29" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌28.jpg"/></a></div></figure><figure id="item30" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌29.jpg"/></a></div></figure><figure id="item31" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌30.jpg"/></a></div></figure><figure id="item32" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌31.jpg"/></a></div></figure><figure id="item33" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌32.jpg"/></a></div></figure><figure id="item34" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌33.jpg"/></a></div></figure><figure id="item35" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌34.jpg"/></a></div></figure><figure id="item36" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌35.jpg"/></a></div></figure><figure id="item37" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌36.jpg"/></a></div></figure><figure id="item38" class="carouselItem trans3d"><div class="carouselItemInner trans3d">
		<a onclick="sao()"><img  src="sao/img/库洛牌/库洛牌37.jpg"/></a></div></figure>
	</section>
	</div>
<script src="sao/js/libs.min.js"></script>
<script src="sao/js/index.js"></script>
</body>

</html>